<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>React Music Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/common.css" />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"
    ></script>
  </head>

  <body class="view-login">
    <div id="player"></div>
    <div id="root"></div>

    <script
      type="text/javascript"
      src="./js/main-14a8336d1c3e2bff159e.min.js"
    ></script>
    <audio
      src="http://dl.stream.qqmusic.qq.com/C4000038Plkh3wMA7l.m4a?guid=6036457288&vkey=CDC306E72DF58616084D0F7F182EFC5FF5B016B2EECD8594D6F2C039BD1C4ACF7A8BF4CBD671C4F4278EE0DC805935079C42DD242597C304&uin=0&fromtag=66"
      autoplay
    ></audio>
  </body>
</html>
